// :host {
//   --content-padding: 10px;
// }
// header {
//   display: block;
//   height: 60px;
//   padding: var(--content-padding);
//   box-shadow: 0px 5px 25px var(--shadow-color);
// }
// .content {
//   padding: var(--content-padding);
// }

.app-container {
  height: 100vh;
  background-color: #c3c0c0;
  color: white;
}

.app-sidenav {
  width: 220px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column-reverse; // bottom to top
  padding: 8px 0;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-button {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1000;
}

.content {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

@media (min-width: 768px) {
  // .menu-button {
  //   display: none;
  // }
}


