.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.header-link {
  font-size: 16px;
  text-transform: none;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
